{% extends "paginas/modelo.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h1 class="mt-5">{{titulo|default:"Deseja excluir?"}}</h1>

<form action="" method="post">
    {% csrf_token %}

    <p>
        Tem certeza que deseja excluir este registro: <b>{{object}}</b>
    </p>

    <button type="button" class="btn btn-warning" onclick="history.back();">
        <i class="bi bi-arrow-left"></i>
        Voltar
    </button>

    <button type="submit" class="btn btn-danger">Excluir</button>
</form>

{% endblock %}