{% extends "paginas/modelo.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}

<h3 class="mt-3 border-bottom mb-4 pb-2">
    {{ titulo|default:"Formulário de cadastro e edição" }}
</h3>

<form action="" method="post">
    {% csrf_token %}

    {{form|crispy}}

    <button type="submit" class="btn btn-success">
        <i class="bi bi-check-lg"></i>
        Salvar
    </button>
</form>

{% endblock %}

{% block scripts %}

<!-- Importação do jQuery Mask Plugin -->
<script src="{% static 'js/jquery.mask.js' %}"></script>

<!-- Aplicar mascaras nos campos -->
<script>
    $(document).ready(function () {

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);

                var CpfCnpjBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '000.000.000-009' : '00.000.000/0000-009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(CpfCnpjBehavior.apply({}, arguments), options);
                }
            };

        $('#id_cpfCnpj').mask(CpfCnpjBehavior, spOptions);

    });
</script>

{% endblock %}