{% extends "paginas/modelo.html" %}

{% load static %}

<!-- Carrega o filtro de multiplicacao do valor total -->
{% load meus_filtros %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="row align-items-center mt-3">
    <div class="col-md-8">
        <h3>{{titulo|default:"Formulário"}}</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end gap-2">
        <a href="{% url 'cadastrar-carrinho' %}" class="btn btn-purple">
            Adicionar Item
        </a>
        <a href="{% url 'cadastrar-pedido' %}" class="btn btn-orange">
            Fechar Carrinho
        </a>
    </div>
</div>


<hr>

<style>
    tr, td {
        text-align: center;
    }
    .btn-purple {
        background-color: #6f42c1; /* Roxo */
        color: white;
    }
    .btn-orange {
        background-color: #ffbb00; /* Roxo */
        color: black;
    }
    .btn-green {
        background-color: #3d8b0f; /* Roxo */
        color: rgb(255, 255, 255);
    }
    .btn-grey {
        background-color: #838383; /* Roxo */
        color: rgb(255, 255, 255);
    }
</style>

<!-- Campo de selecionar o cliente -->
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-10">
            {{ form.produto|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.quantidade|as_crispy_field }}
        </div>
    </div>

<div class="table-responsive-lg">
    <h4 class="mt-5 border-bottom mb-4 pb-2">Itens Adicionados</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in carrinho %}
            <tr class="">
                <td>{{ obj.pk }}</td>
                <td>{{ obj.produto.nome }}</td>
                <td>{{ obj.quantidade }}</td>
                <td>{{ obj.produto.valor }}</td>
                <td>R${{ obj.quantidade|valor_total_item_carrinho:obj.produto.valor }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-primary" href="{% url 'editar-carrinho' obj.pk %}">
                                    <i class="bi bi-pencil-square"></i>Editar</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'excluir-carrinho' obj.pk %}">
                                    <i class="bi bi-trash"></i> Excluir</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%" style="font-weight: bold; color: red; text-align: center;">Nenhum item adicionado ao Carrinho de Compras.</th>
            </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td>{{ total_itens }}</td>
                <td></td>
                <td><strong>R${{ valor_total }}</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Botão de salvar -->

    <br>
    <div class="col-md-12 d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-grey" style="margin-right: 10px;" onclick="history.back();">
            Voltar
        </button>
        <button type="submit" class="btn btn-green float-end">{{descricao_botao|default:"Salvar"}}</button>
    </div>
    
</form>


{% endblock %}

{% block scripts %}
{{ form.media }}
{% endblock %}