{% extends "paginas/modelo.html" %}

{% load static %}

<!-- Carrega o filtro de multiplicacao do valor total -->
{% load meus_filtros %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h3 class="mt-3 border-bottom mb-4 pb-2">{{titulo|default:"Formulário"}}</h3>

<!-- Campo de selecionar o cliente -->
{{ form|crispy }}

<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in carrinho %}
            <tr class="">
                <td>{{ obj.pk }}</td>
                <td>{{ obj.produto.nome }}</td>
                <td>{{ obj.quantidade }}</td>
                <td>{{ obj.produto.valor }}</td>
                <td>R${{ obj.quantidade|valor_total_item_carrinho:obj.produto.valor }}</td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%">Nenhum item adicionado ao Carrinho de Compras.</th>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"><strong>Total</strong></td>
                <td><strong>{{ total_itens }}</strong></td>
                <td></td>
                <td><strong>R${{ valor_total }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Botão de salvar -->
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">{{descricao_botao|default:"Salvar"}}</button>
</form>

{% endblock %}

{% block scripts %}
{{ form.media }}
{% endblock %}