{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<!DOCTYPE html>
<html>

<body>

<div class="container" style="margin-top: 50px;">
        <div class="col-md-8">
            <fieldset
                style="padding: 10px 50px 0px 10px; height: 500px; width: 1700px; margin-left: -220px; border-radius: 5px; border: 2px solid #ccc; background-color: #f7f7f7;">
                <form id="formBusca" onsubmit="return false" method="post">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group d-flex flex-column align-items-center">
                                <label><b>Código</b></label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group d-flex flex-column align-items-center">
                                <label><b>Produto</b></label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group d-flex flex-column align-items-center">
                                <label><b>Quantidade</b></label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group d-flex flex-column align-items-center">
                                <label><b>Valor</b></label>
                                <input class="form-control">
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group d-flex flex-column align-items-center">
                                <label><b>Cliente</b></label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </fieldset>
        </div>
</div>

</body>

</html>

{% endblock %}