{% extends "paginas/modelo.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}

<h2 class="mt-4">Seja bem vindo ao sistema da loja Ito Hookah!</h2>

<p class="mt-3">Esse sistema visa está sendo desenvolvido único e exclusivamente para atender as necessidades de gestão de entrada e saidas de produtos na loja ItoHookah -
    Tereré e Cia. </p>
<p>Seu principal objetivo é a realização de cadastros de produtos para um gerenciamento de estoque e gerenciamento de
    vendas destes produtos cadastrados. </p>

<div style="width: 640px; height: 480px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0"
        style="width:640px; height:480px"
        src="https://lucid.app/documents/embedded/e09a5e98-eb18-4c0d-8363-f5e7a392b6e1" id="XSdWf.1p4jy3"></iframe>
</div>

{% endblock %}