{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-10">
        <h3 class="">Pedidos</h3>
    </div>
    <div class="col-md d-flex justify-content-end">
        <a href="{% url 'cadastrar-pedido' %}" class="btn btn-success">
            Cadastrar Pedido
        </a>
    </div>
</div>

<!-- Formulário de Filtro -->
<div class="row mt-3">
    <div class="col-md-12">
        <fieldset class="border p-3 rounded position-relative" style="padding-top: 1.5rem;">
            <legend class="w-auto px-2 text-center position-absolute" style="top: -1rem; left: 50%; transform: translateX(-50%); font-size: 1.2rem; background: white;">Filtros</legend>
            <form method="GET" class="d-flex">
                <div class="row flex-grow-1">
                    <div class="col-md-3">
                        <select name="cliente" class="form-control">
                            <option value="">Cliente</option>
                            {% for cliente in form.fields.cliente.queryset %}
                            <option value="{{ cliente.pk }}" {% if cliente.pk == request.GET.cliente %}selected{% endif %}>
                                {{ cliente.nome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="valor_min" class="form-control" placeholder="Valor Mínimo" value="{{ request.GET.valor_min }}">
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="valor_max" class="form-control" placeholder="Valor Máximo" value="{{ request.GET.valor_max }}">
                    </div>
                    <div class="col-md-2">
                        <input type="date" name="data_inicio" class="form-control" placeholder="Data de Início" value="{{ request.GET.data_inicio }}">
                    </div>
                    <div class="col-md-2">
                        <input type="date" name="data_fim" class="form-control" placeholder="Data de Fim" value="{{ request.GET.data_fim }}">
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-end">
                        <button type="submit" class="btn btn-primary me-2">Filtrar</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>

<hr>

<!-- Listagem dos pedidos -->
<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Quantidade</th>
                <th>Valor Total</th>
                <th>Data de Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in pedidos %}
            <tr>
                <td>{{ obj.pk }}</td>
                <td>{{ obj.cliente.nome }}</td>
                <td>{{ obj.total_itens }}</td>
                <td>R${{ obj.valor_total }}</td>
                <td>{{ obj.criado_em }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-primary" href="{% url 'listar-produtos-pedido' obj.pk %}">
                                    <i class="bi bi-search"></i> Detalhes</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'excluir-pedido' obj.pk %}">
                                    <i class="bi bi-trash"></i> Excluir</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%">Nenhum registro encontrado.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Script para limpar os filtros quando der reload na pagina -->
<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelector('input[name="data_inicio"]').value = '';
        document.querySelector('input[name="data_fim"]').value = '';

        document.querySelector('input[name="valor_min"]').value = '';
        document.querySelector('input[name="valor_max"]').value = '';
    });
</script>


{% endblock %}
