{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-8">
        <h3 class="">Lista de Produtos</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-produto' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Cadastrar Produto
        </a>
    </div>
</div>

<hr>

<div class="row">
    {% for obj in object_list %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                {% if obj.imagem %}
                <img src="{{ obj.imagem.url }}" alt="{{ obj.nome }}" class="img-fluid mb-3" style="max-width: 100px;">
                {% else %}
                <img src="{% static 'img/sem-imagem.png' %}" alt="Imagem Padrão" class="img-fluid mb-3" style="max-width: 100px;">
                {% endif %}
                <h5 class="card-title">{{ obj.nome }}</h5>
                <p class="card-text">
                    <strong>Quantidade:</strong> 
                    {{ obj.quantidade }} 
                    {{ obj.quantidade|pluralize:"unidade,unidades" }}
                </p>
                <p class="card-text"><strong>Categoria:</strong> {{ obj.categoria }}</p>
                <p class="card-text"><strong>Fornecedor:</strong> {{ obj.fornecedor.nome }}</p>
                <p class="card-text"><strong>Marca:</strong> {{ obj.marca }}</p>
                <p class="card-text"><strong>Valor:</strong> R${{ obj.valor }}</p>
                <div class="dropdown">
                    <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-primary" href="{% url 'editar-produto' obj.pk %}">
                                <i class="bi bi-pencil-square"></i> Editar</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'excluir-produto' obj.pk %}">
                                <i class="bi bi-trash"></i> Excluir</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            Nenhum registro encontrado.
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
