{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-12">
        <h3 class="">Lista de Produtos</h3>
    </div>
</div>

<style>
    .img-padrao {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Ajusta a imagem para cobrir a área definida sem distorcer */
    }
    .card-text {
        text-align: left;
    }
</style>

<!-- Formulário de Filtro -->
<div class="row mt-3">
    <div class="col-md-12">
        <form method="GET" class="d-flex">
            <div class="row flex-grow-1">
                <div class="col-md-3">
                    <input type="text" name="nome" class="form-control" placeholder="Nome" value="{{ request.GET.nome }}">
                </div>
                <div class="col-md-3">
                    <select name="categoria" class="form-control">
                        <option value="">Categoria</option>
                        {% for categoria in filter_form.fields.categoria.queryset %}
                        <option value="{{ categoria.pk }}" {% if categoria.pk == request.GET.categoria %}selected{% endif %}>
                            {{ categoria }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="fornecedor" class="form-control">
                        <option value="">Fornecedor</option>
                        {% for fornecedor in filter_form.fields.fornecedor.queryset %}
                        <option value="{{ fornecedor.pk }}" {% if fornecedor.pk == request.GET.fornecedor %}selected{% endif %}>
                            {{ fornecedor }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-primary me-2">Filtrar</button>
                    <a href="{% url 'cadastrar-produto' %}" class="btn btn-success d-flex align-items-center">
                        Cadastrar Produto
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>

<!-- Listagem dos produtos -->
<div class="row">
    {% for obj in object_list %}
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-body text-center">
                {% if obj.imagem %}
                <img src="{{ obj.imagem.url }}" alt="{{ obj.nome }}" class="img-fluid mb-3 img-padrao">
                {% else %}
                <img src="{% static 'img/sem-imagem.png' %}" alt="Imagem Padrão" class="img-fluid mb-3 img-padrao">                
                {% endif %}
                <h5 class="card-title">{{ obj.nome }}</h5>
                <p class="card-text"><strong>Categoria:</strong> {{ obj.categoria }}</p>
                <!-- <p class="card-text"><strong>Fornecedor:</strong> {{ obj.fornecedor.nome }}</p> -->
                <p class="card-text"><strong>Marca:</strong> {{ obj.marca }}</p>
                <p class="card-text">
                    <strong>Estoque:</strong> 
                    {{ obj.quantidade }} 
                    {{ obj.quantidade|pluralize:"unidade,unidades" }}
                </p>
                <p class="card-text"><strong>Valor:</strong> R${{ obj.valor }}</p>
                <div class="d-flex justify-content-end">
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item text-primary" href="{% url 'editar-produto' obj.pk %}">
                                    <i class="bi bi-pencil-square"></i> Editar</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'excluir-produto' obj.pk %}">
                                    <i class="bi bi-trash"></i> Excluir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            Nenhum registro encontrado.
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
