<!DOCTYPE html>
<html>

<head>
    <title>Lista de Produtos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Lista de Produtos</h1>
    <table id="tabela-produtos">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Fornecedor</th>
                <th>Marca</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/listar_produtos/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var produtos = data.produtos;
                    var tbody = $('#tabela-produtos tbody');
                    produtos.forEach(function (produto) {
                        var tr = $('<tr>');
                        tr.append($('<td>').text(produto.codigo));
                        tr.append($('<td>').text(produto.nome));
                        tr.append($('<td>').text(produto.valor));
                        tr.append($('<td>').text(produto.quantidade));
                        tr.append($('<td>').text(produto.fornecedor));
                        tr.append($('<td>').text(produto.marca));
                        tr.append($('<td>').text(produto.categoria));
                        tbody.append(tr);
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
</body>

</html>